@import url(/ProjectNetflix/style/color.css);
@import url(/ProjectNetflix/style/dimension.css);
@import url(/ProjectNetflix/style/text.css);
@import url(/style/text.css);
label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  input,
  label {
    margin: 0.4rem 0;}
.layer{
width: 1685px;
height: 600px;
top: -2750px;
left: -1044px;
}
.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.b-sign{
  background-color:#e10011 ;
  border-radius: 5px;
  text-align: center;
}
.dflex{
  display: flex;
  justify-content: center;
}

.layer-Sign{
  width: 1600px;
  height: 650px;
  top: -2750px;
  left: -1030px;
  }
.sign-c {
  left: 50%;
  top: 50%;
  border-radius: 4px;
  padding: 70px;
  width: 450px;
  /* transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, .75);
}
.h2{
  color: #fff;
  font-size: 2rem;
}
.sign-c form {
  margin: 25px 0 70px;
}
 .pass-c {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}
.pass-c input {
  height: 100%;
  width: 100%;
  background: #f2eeee;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0 20px;
}

.pass-c label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #030303;
  transition: all 0.1s ease;
}

 button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #e50914;
  color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}
 button {
  background: #c40812;
}

.sign-c {
  color: #fdfbfb;
}
.help {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.remember-me {
  display: flex;
  margin-right: 5px;
  color: darkgrey;
}
 
.accordion-button {
  background: #696969;
   
}

.accordion-fac-list{

 justify-content: center;
  display: block;
  margin-top: 60px;
  margin-left: 620px;

}
.accordion{
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #fff;
  white-space: nowrap;
  background: #696969;
  width: 80vh; 
  height:50px;
  align-items: center;

}
.anser{
  background: #696969; 
  color: #fff;
   width: 80vh;
   height:120px;
   margin-top: 2px;
}
.get{
height:50px ;
margin-left: 10px;
}
.mail{
  background: #696969;

}
::placeholder{
  color: #000;
}
.link{
  text-decoration: none;
  color: #696969;
}
.Call-Us{
  color: #696969;
  padding-top: 50px; 
  padding-left: 170px;
}
.footer{
  height: 300px;
   background: transparent;
    background-color: #000;
}

.list li.valid i{
  font: size 1.2rem;
  color:#aaa;
}
.list li.valid span {
  color: #e10011;
}