.bg-img{
    background-image:url(/assets/Rectangle\ 9\ \(1\).png),url(/assets/IN-en-20231030-popsignuptwoweeks-perspective_alpha_website_large\ 1.png);
    background-repeat: no-repeat, repeat;
    background-position: 0cqmin;
}
.Position-mail{
    background-color:hsl(20, 60%, 1%) ;
   
} 
.b-eng{
    background: transparent;
    border-radius: 5px;
    text-align: center;
    color: #6a6868;
   
}
.button {

    top:50% ;
    background-color:#e10011 ;
    border-radius: 5px;
}

